body {
    position: relative;
    font-family: Lato;
    background-color: #e3e5e8;
    max-width: 1920px;
    margin: auto;
    padding-bottom: 100px;
}

html {
    background: #dddfe2;
}

.navbar {
    margin: 0;
}

.navbar-inverse {
    background-color: #fff;
    border: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: #969696;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #23cdb7;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #23cdb7;
}

.navbar-inverse .navbar-brand:hover {
    color: #23cdb7;
}

.navbar-nav > li > a, .navbar-brand {
    height: 67px;
}

.navbar {min-height:67px !important;}

.navbar-nav>li>a {
    line-height: 36px;
}

header {
    min-height: 350px;
    width: 100%;
    background-image: url(../img/home-bg.jpg);
}

@media (min-width: 768px) {
    .container > .navbar-header {
        position: absolute;
        width: 300px;
        height: 80%;
        top: 10%;
    }

    .navbar-brand img {
        margin-top: -5%;
    }

    .navbar-nav {
        width: 100%;
        padding-left: 300px;
    }

    .navbar-inverse .navbar-nav>li>a {
        width: 134px;
        text-align: center;
        font-size: 19px;
    }
}

.btn-round {
    border-radius: 25px;
    height: 47px;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 300;
    font-size: 18px;
    padding: 0 38px;
    margin-top: 40px;
}

.btn-round:active,
.btn-round:focus,
.btn-round:visited {
    outline: none !important;
    color: #fff;
    background: none;
}

.btn-round:hover {
    background-color: rgba(35,205,183,0.3);
    color: #fff;
}


.tag {
    position: absolute;
    color: #fff;
    padding: 5px 29px;
    border-radius: 30px;
    bottom: -19px;
    left: 30px;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #fff;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}

.tag.verified-tag {
    background: #35c03f;
}

.tag.scam-tag {
    background: #f40d44;
}

.tag.best-tag {
    background: #eec60b;
}


.block-tag {
    width: 140px;
    text-align: center;
    padding: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 40px;
    line-height: 23px;
}

.block-tag-verified {
    background: #35c03f;
}

.block-tag-sm {
    font-size: 11px;
    width: 67px;
    line-height: 11px;
    float: left;
    margin-top: 20px;
}

.block-tag-scam{
    background: #f40d44;
}

.block-tag-best{
    background: #eec60b;
}

.mui-btn.btn-round .mui-btn__ripple-container {
    border-radius: 25px;
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}